<h1>This is your infomation</h1>
<fieldset>
    <legend>Enter User Details</legend>
    <span>Username: </span> <%= @user.username%> <br/>
    <span>Email: </span> <%= @user.email%> <br/>
    <span>Last update: </span> <%= @user.updated_at%> <br/>
    
</fieldset>